/******
COMMON
******/

@use './variables' as *;

body {
  background: $bg-image;
}

header {
  text-align: center;
  padding: 20px 0 35px;
}

main {
  width: 1350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.card {
 width: calc(100% / 4);
 padding: 10px;

  img {
    border: rgb(216, 213, 213) 3px solid;
    border-radius: 50%;
  }

  h2 {
    margin: 10px 0 25px;
  }

  .species {
    margin-bottom: 25px;
  }
}

